*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bp-xlarge: 1200px;
$bp-large: 992px;
$bp-medium: 768px;
$bp-small: 576px;

p {
  margin-bottom: 0;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-small) {
    font-size: 56%;
  }
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #0d0f18f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
